/********************** DEFAULT **********************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* vertical-align: baseline;
  background: transparent; */
}
body {
  /* min-height: 100vh; */
  position: relative;
  -webkit-font-smoothing: antialiased;
}
html, body {
  /* height: 100%; */
  max-width: 100%;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1;
}
/********************** DEFAULT END **********************/

/********************** NAVBAR **********************/
.navbar {
	/* background: #343A40; */
  background: #2565a3;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
}
/* .navbar.navbar-no-bg { background: #444; background: rgba(0, 0, 0, 0.3); } */

.navbar-dark .navbar-nav { font-size: 15px; color: #fff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #fff; color: rgba(255, 255, 255, 0.8); border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #fff; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; outline: 0; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

.fixed-top.scrolled {
  /* background-color: #343A40 !important; */
  background-color: #2565a3 !important;
  transition: background-color 500ms linear;
}

.container .dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: #2565a3;
}
/********************** NAVBAR END **********************/

/********************** HERO SECTION **********************/
.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(37, 101, 163, .6), rgba(37, 101, 163, .6)), url('../../../../images/bl_hero_LI.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 0px;
}

.hero h1 {
    font-size: 76px;
}
.hero h3 {
    font-size: 50px;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: .2em;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #fff;
  border-radius: 20px;
}
.btn:hover {
  background-color: #fff;
  color:rgba(0,0,0,1);
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #fff;
}
.container-fluid {
  font-size: 12px;
}
.header-text {
  font-size: 16px;
  color: rgba(255,255,255,0.73);
}
hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
/********************** HERO SECTION END **********************/

/********************** ABOUT SEC **********************/
.row_about {
  min-height: 100vh;
  color: #fff;
  padding-top: 100px;
}
.vert-spacing {
    margin-bottom: 20%;
}
.RHF {
  height: 250px;
  width: 600px;
  padding-bottom: 15px;
}
.row_car {
  background-image: url('../../../../images/bl/about.jpg');
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  min-height: 50vh;
  color: #fff;
}
.row_girl {
  background-image: url('../../../../images/bl/about2.jpg');
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  min-height: 50vh;
  color: #fff;
}
.gold {
  color: #D1AC74;
  font-size: 36px;
  padding-bottom: 5%;
}
/********************** ABOUT SEC END **********************/

/********************** SECTIONS **********************/
.custom-col {
  padding-top: 75px;
  padding-bottom: 75px;
}
.row {
  background-color: #2565a3;
}
.container h2, .container p{
    color: #fff;
}
.sec-btn {
  display: inline-block;
  width: 100px;
  padding: .2em;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #fff;
  border-radius: 20px;
 }
.sec-btn:hover {
  background-color: #fff;
  color: #2565a3;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #2565a3;
}
.sec-description{
  font-size: 1em;
  text-align: center;
}
/********************** SECTIONS END **********************/

/********************** VIEW PAGES **********************/
.view-page-logo {
  padding-bottom: 2em;
}
.view-custom{
  overflow: hidden;
}

@media only screen and (max-width: 450px) {
  .view-page-text{
    font-size: 15px;
  }
}
/********************** VIEW PAGES END **********************/

/********************** USER SETTINGS UPDATE **********************/
.settings-hero{
  width: 100%;
  display: flex;
  text-align: left;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #f9f9f9;
  margin: 0;
  height: 94vh;
  overflow: hidden
}

.settings-hero label {
    font-size: 1.5em;
}

.settings-hero h1 {
    font-size: 5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #343A40;
}
.settings-hero h3 {
    font-size: 2em;
}

@media only screen and (max-width: 832px) {
  .settings-hero h1{
    font-size: 30px;
  }
  .settings-hero label{
    font-size: 16px;
  }
  .settings-hero .sec-btn{
    margin-top: 1em;
  }
}
/********************** USER SETTINGS UPDATE END **********************/

/********************** FOOTER **********************/
.login-footer {
  height: 60px;
  line-height: 60px;
  color: white;
  background-color: #2565a3;
  text-align: center;
}
.logout-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
}
/********************** FOOTER END**********************/
